html {
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 6px #d8d5d580;
  z-index: 2;
  padding:1% 1% 1% 1%;
}

nav{
  display: flex;
  justify-content: space-between;
  z-index: 2;
  padding:0 1% 0 1%;
  
}

main {
  margin-top: 100px;
}

nav a{
  text-decoration: none;
  color: black;
  font-family: 'Adobe Clean light', sans-serif;
  font-size: 18px;

}

.school{
  font-weight: bolder;
}

.title1{
  width: 40%;
  border-radius: 3px;
}

.form{
 
  width: 55%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}

.form label{
  margin-top: 10px;
  font-family: 'Adobe Clean Regular', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

textarea {
  border-radius: 3px;
}

.add{
  color: white;
  font-family: 'Adobe Clean Bold', sans-serif;
  font-size: 16px;
  background-color: #56d4c2;
  border-radius: 3px;
  margin-top: 5px;
  padding: 5px 10px 5px 10px;
  width: 30%;
  
}


h2{
  margin-top: 80px;
  font-family: 'Adobe Clean Bold', sans-serif;

}


.wrapper_cards{
  width: 50%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;

}

article{
    width: auto;
    box-shadow: 0px 5px 6px #d8d5d580;
    padding: 5px;
}

h4 {
    font-family: 'Adobe Clean Regular', sans-serif;
    font-size: 16px;
 
}

p{
    font-family: 'Adobe Clean Light', sans-serif;
    font-size: 12px;
}
.button_cards{
    color: white;
    font-family: 'Adobe Clean Regular', sans-serif;
    font-size: 12px;
    background-color: #56d4c2;
    border-radius: 6px;
    padding: 5px;

}
